:root {
  --background-default: rgb(35, 54, 86);
  --background-pop-default: rgb(44, 74, 121);
  --background-button: rgb(53, 105, 187);
  --background-dark: rgb(24, 37, 59);
  --accent: rgb(161, 230, 255);
  --wide_content_max: 1000px;
}

* {
  box-sizing: border-box;
}

/* Core Element Types */
body {
  background-color: var(--background-default);
  color: white;
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: contain;
}

input, textarea {
  width: 100%;
  background-color: var(--background-dark);
  color: white;
  outline: none;
  border: 1px solid var(--background-pop-default);
  padding: 5px;
  border-radius: 5px;
}

button {
  width: 100%;
  background-color: var(--background-button);
  color: white;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.1em;
}



/* Custom Elements */

zealot_app {
  min-height: 100vh;
}

title-bar {
  background-color: var(--background-pop-default);
  width: 100%;
  display: block;
}

side-bar {
  width: 200px;
  background-color: var(--background-pop-default);
}

content- {
  padding: 5px;
  display: grid;
}

side-buttons {
  width: 40px;
  max-width: 40px;
  background-color: var(--background-pop-default);
}

side-buttons > button {
  background-color: rgba(0.0, 0.0, 0.0, 0.0);
  outline: none;
  border: none;
  display: block;
  width: 45px;
  padding: 5px 5px;
}

auth-modal form {
  max-width: 500px;
}

item-screen {
  max-width: 1000px;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  justify-self: center;
}

chips-input {
  display: flex;
}
chips-input [type="items"] {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
chips-input input[type="text"] {
}

.chip_item {
  display: flex;
  gap: 2px;
  place-items: center;
}

.chip_item > button {
  border-radius: 50%;
  padding: 2px;
}

.chip_item > img {
  width: 0.5em !important;
}



/* IDs */

#item_title {
  padding: 5px 0;
  font-size: 2em;
  line-height: 2em;

}

#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

#main-display {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  height: 100%;
}

/* Classes */
.row {
  display: flex;
}

.col1 {
  flex: 1;
}

.gap {
  gap: 5px;
}

.result_view.selected {
  font-weight: bold;
}

.modal_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
}

.inner_window {
  background-color: var(--background-pop-default);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

a, .result_view {
  color: var(--accent);
  text-decoration: underline;
  cursor: pointer;
}

.result_view {
  padding: 2px 5px;

}

.attribute {

  display: grid;
  grid-template-columns: 1fr 2fr auto;
}

.attribute_kind {
  display: grid;
  grid-template-columns: 1fr 2fr auto auto;
}

.item_type {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr auto;
}

.box {
  padding: 5px;
  background-color: var(--background-pop-default);
  border-radius: 5px;
}

.center {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  justify-self: center;
}

.icon + img {
  width: 1em;
}

.button_row > button {
  width: auto;
}



plan-view {
  background-color: var(--background-pop-default);
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 10px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}










[name="title_container"] {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}


