:root {
  --background-default: rgb(35, 54, 86);
  --background-pop-default: rgb(44, 74, 121);
}

* {
  box-sizing: border-box;
}

#item_title {
  padding: 5px 0;
  font-size: 2em;
  line-height: 2em;

}

.result_view.selected {
  font-weight: bold;
}

body {
  background-color: var(--background-default);
  color: white;
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

title-bar {
  background-color: var(--background-pop-default);
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

side-buttons {
  width: 40px;
  max-width: 40px;
  background-color: var(--background-pop-default);
}

side-buttons > button {
  background-color: rgba(0.0, 0.0, 0.0, 0.0);
  outline: none;
  border: none;
  display: block;
  width: 45px;
  padding: 5px 5px;
}


img {
  width: 100%;
  object-fit: contain;
}

#main-display {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  height: 100%;
}

side-bar {
  width: 200px;
  background-color: var(--background-pop-default);
}
