@use "./constants.scss";

#main-display {
	display: grid;
	grid-template-columns: auto auto 1fr auto;
}

zealot_app {
  min-height: 100vh;
}

side-buttons {
	@extend .box;
  width: 40px;
	min-height: 100vh;
}

side-buttons > icon-button {
	display: block;
  padding: 6px;
}

icon-button {
	cursor: pointer
}

#popup_container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

popup- {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bg-3);
}

popup-.warning {
  background-color: rgb(124, 124, 10);
}

popup-.error {
  background-color: rgb(110, 0, 0);
}

side-bar {
	@extend .box;
  width: 200px;
  overflow-x: scroll;
	// min-width: 200px;
}
content- {
  width: 100%;
  padding: 5px;
  display: grid;
  overflow-y: auto;
  height: 100vh;
}

content- {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

content-::-webkit-scrollbar {
  width: 0;
  height: 0;
}

auth-modal form {
  max-width: 500px;
}

item-screen {
  max-width: 600px;
  width: 100%;
  /* display: grid; */
  /* grid-template-rows: auto auto auto auto; */
  justify-self: center;
}

.icon {
  height: auto;
	// width: 2.5rem;
	// height: 2.5rem;
	// padding: 6px 6px;
}

.box {
	background-color: var(--panel-1);
	// border: 1px solid var(--border-0);
}

.inner_window {
	@extend .box;
}

/* Classes */
.row {
  display: flex;
}

.row_all {
  display: flex;
}

.col1 {
  flex: 1;
}

.gap {
  gap: 5px;
}

.selected {
  font-weight: bold;
}

.command_result {
  display: grid;
  grid-template-columns: 1fr auto;
}

.modal_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
}

.title {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

table {
  overflow-x: scroll;
  gap: 0;
  width: 100%;
}

tr {
  background-color: var(--bg-1);
}

*[name="generic_results"] {
  height: 200px;
  overflow-y: auto;
}


thead > tr {
  background-color: var(--bg-2);
}

tbody > tr:nth-child(odd) {
  background-color: var(--bg-1);
}

tr.selected, tbody > tr:nth-child(odd).selected { 
  background-color: var(--bg-3);
}

td {
  padding: 2px;
}

.inner_window {
  padding: 10px;
  border-radius: 10px;
}

.mobile_only {
	display: none;
}

.center {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  justify-self: center;
}

.button_row > button {
  width: auto;
}

plan-view {
  background-color: var(--background-pop-default);
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 10px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button-group {
  display: flex;
  gap: 5px;
}

button-group > button {
  width: auto;
}

button-group > img {
  width: 2em;
}

calendar-view {
  /* padding: 2px; */
}

attribute-value-view > input, attribute-value-view > select, attribute-value-view > chips-input {
  background: none;
  border: none;
}

option {
  background-color: var(--bg-1);
  color: white;
}

.today {
  background-color: var(--background-button-pop);
}

[name="calendar_items"] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 2px;
}

[name="calendar_items"] > * {
  padding: 3px;
}

calendar-view > img {
  width: 1em;
}

mobile-title-bar {
  position: fixed;
  width: 100%;
  background: var(--bg-2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.199);
}

#mobile-title-bar-top > button {
  box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
    .desktop_only {
        display: none;
    }

    .mobile_only {
        display: block;
    }

    .row {
        display: block;
    }

    #main-display {
      grid-template-columns: 1fr;
    }
    *[name="generic_results"] {
      height: 100px;
    }
}

nav-view-item {
  cursor: pointer;
}
.ProseMirror p {
  margin: 0;
}

.ProseMirror ul,
.ProseMirror ol {
  margin: 0;
  padding-left: 30px; /* keep your indent */
}

.ProseMirror li {
  margin: 0;
}
