body {
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: auto auto 1fr;
    margin: 0;
}

#side_bar {
    width: 150px;
}

#side_buttons {

}

#side_buttons > button {
    display: block;
    cursor: pointer;
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    color: white;
}

#content {

}